.container-fluid{
  font-family: 'Laila', serif;
  margin: 20px;
  padding: 20px;
  border: 20px;
  background-color:beige;
  color: black;
}
/* h1 {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  
} */
.container{
  background-color:beige;
  border: 20px;
}
.navbar{
  color: whitesmoke;
}