<!-- {% macro displayBrogList(blog_list) %}
{% for blog in blog_list %}
<div class="col-xs-6 col-sm-6 col-md-6">
    <div class="card m-2">
        <div class="card-header">

        </div>
        <div class="card-body">
            <h5 class="card-title">{{quote.author}}</h5>
            <p class="card-text">{{quote.quote}}</p>

        <hr>
        <p>Add a comment <a href="/comment/{{blog.id}}">here</a>.
            <p class="card-text">{{comment.description}}</p>
            <p class="card-text">{{comment.username}}</p>
        </p>

    </div>
</div>
</div>
{% endfor %}
{% endmacro %} -->